[Unit]
Description=Collect Climate data
After=network.target

[Service]
ExecStart=/usr/bin/python -u climate.py
WorkingDirectory=/home/pi/piBoxBot/py
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
